{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Message {% endblock %}

{% block body %}

    {% set formErrors = messageForm.vars.errors.form.getErrors(true) %}

    {% if formErrors|length %}
        <ul>
            {% for error in formErrors %}
                <li class="text-danger list-unstyled text-center font-weight-bold p-3">{{ error.message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9 col-sm-12">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="p-5">
                            {{ form_start(messageForm, { 'attr': { 'class': 'user' }}) }}

                            <div class="form-group text-center">
                                {{ form_label(messageForm.content) }}
                                {{ form_widget(messageForm.content) }}
                            </div>
                            {{ form_row(messageForm.planified_at) }}
                            <div class="form-group text-center">
                                {{ form_row(messageForm.socialMedia) }}
                            </div>
                            <button type="submit" class="btn btn-primary btn-block col-lg-6 mx-auto mt-4">
                                Envoyer <i class="fas fa-paper-plane rotate-15 ml-1"></i>
                            </button>
                            {{ form_end(messageForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}