{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Message {% endblock %}

{% block body %}

    <h1>Message</h1>

    {{ form_start(messageForm) }}

        {{ form_row(messageForm.content) }}
        {{ form_row(messageForm.planified_at) }}
        {{ form_row(messageForm.socialMedia) }}

    <button type="submit">Envoyer</button>

    {{ form_end(messageForm) }}
{% endblock %}