{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Messages Planifiés {% endblock %}

{% block body %}

    <h1>Messages planifiés</h1>

    <div class="messages-container">
        {% if messages is empty %}
            <p>Il n'y a aucun message à afficher. <a href="{{ path('message_new') }}">Cliquez ici</a> pour en ajouter</p>
        {% endif %}

        {% for message in messages %}
            {% if app.user.id == message.userId.id %}
                <div class="planified-message">
                    <h5>{{ app.user.firstName }} {{ app.user.lastName }}</h5>
                    <p>{{ message.content }}</p>
                    {% if date(message.createdAt) < date('-1day') %}
                        <span>{{ message.createdAt|date('d/m/Y H:m') }}</span>
                    {% else %}
                        <span>{{ message.createdAt|date('H:m') }}</span>
                    {% endif %}
                    <span>&#10003;</span>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <a href="{{ path('app_index') }}">Retour</a>

{% endblock %}