<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <a href="{{ path('app_index') }}" class="sidebar-brand d-flex align-items-center justify-content-center">
        <div class="sidebar-brand-icon">
            <i class="fas fa-comments"></i>
        </div>
        <div class="sidebar-brand-text mx-3">
            ACCUEIL
        </div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('message_new') }}">
            <i class="fas fa-fw fa-solid fa-pen-to-square"></i>
            <span>Publier</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Messages
    </div>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('message_sent') }}">
            <i class="fa-solid fa-paper-plane"></i>
            <span>Envoyés</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('message_planified') }}">
            <i class="fas fa-clock"></i>
            <span>Planifiés</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Paramètres
    </div>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_logout') }}">
            <i class="fas fa-sign-out"></i>
            <span>Déconnexion</span>
        </a>
    </li>
</ul>
